<div class="sidebar">
  <div class="container">
    <h2>Categories</h2>
    <ul class="categories"></ul>
  </div>
</div>

<div class="container-fluid">
<div class="content">
  <div id="noteTools"></div>
  <div id="container"></div>
</div>
</div>

