<div class="modal-header">
  <a href="#" class="close">&times;</a>
  <h3>Add New Note</h3>
</div>
<div class="modal-body">
<form>
	<div class="clearfix">
		<label for="title">Title:</label>
		<div class="input">
			<input class="xlarge" id="title" name="title" type="text">
		</div>
	</div>

	<div class="clearfix">
		<label for="content">Text</label>
		<div class="input">
			<textarea class="xlarge" id="content" name="content" rows="10"></textarea>
		</div>
	</div>
</form>
</div>
<div class="modal-footer">
  <button class="btn success">Save</button>
  <button class="btn danger">Cancel</button>
</div>
